<footer class="bg-black text-gray-400 pt-10 pb-5 divide-y-2 divide-gray-400">
  <div class="flex flex-col space-y-6 lg:space-y-0 lg:flex-row justify-around px-2 py-4" style="max-width: 1300px; margin: 0 auto;">
    <section class="text-center lg:text-left" style="flex-basis: 30%;">
      <h3 class="text-white mb-3">Download Our App</h3>
      <p>Download App for Android and iOS mobile phones</p>
      <div class="flex flex-col space-x-0 space-y-2 lg:space-y-0 lg:space-x-0.5 lg:flex-row items-center lg:items-start mt-5">
        <img class="w-32 cursor-pointer" src="assets/images/play-store.png" alt="app" />
        <img class="w-32 cursor-pointer" src="assets/images/app-store.png" alt="app" />
      </div>
    </section>
    <section class="text-center flex-1">
      <img class="w-44 mx-auto mb-3" src="assets/images/logo-white.png" alt="logo" />
      <p>
        Our purpose is to sustainably make the pleasure of sports
        accessible to the many.
      </p>
    </section>
    <section class="text-center" style="flex-basis: 12%;">
      <h3 class="text-white mb-3">Useful links</h3>
      <ul>
        <li class="cursor-pointer hover:text-gray-200">Coupons</li>
        <li class="cursor-pointer hover:text-gray-200">Blog Posts</li>
        <li class="cursor-pointer hover:text-gray-200">Return Policy</li>
        <li class="cursor-pointer hover:text-gray-200">Join Affiliate</li>
      </ul>
    </section>
    <section class="text-center" style="flex-basis: 12%;">
      <h3 class="text-white mb-3">Follow Us</h3>
      <ul>
        <li class="cursor-pointer hover:text-gray-200">Instagram</li>
        <li class="cursor-pointer hover:text-gray-200">Facebook</li>
        <li class="cursor-pointer hover:text-gray-200">Twitter</li>
        <li class="cursor-pointer hover:text-gray-200">WhatsApp</li>
      </ul>
    </section>
  </div>
  <h5 class="text-center pt-3">Copyright {{currentYear}} - red stores</h5>
</footer>
